@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  outline: none;
  border: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden !important;
  transition: all 0.6s ease;
}
img {
  max-width: 100%;
  max-height: 100%;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* ==============================
   Section & Container Styling
================================= */
section {
  padding: 60px 0px;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0px 10px;
}

/* ==============================
   Color Styling
================================= */
:root {
  --primary: #eaad48;
  --secondary: brown;
  --black-gradient: linear-gradient(
    90deg,
    #000 0%,
    #040303 24%,
    #120d0f 50%,
    #130e10 51%,
    #211d1f 63%,
    #484647 86%,
    #626161 100%
  );
  --yellow-gradient: linear-gradient(
    270deg,
    #000 0%,
    #040303 24%,
    #120d0f 50%,
    #130e10 51%,
    #221a0e 56%,
    #4b3c0c 66%,
    #8e7207 80%,
    #e9bc01 97%,
    #fbcb00 100%
  );
  --white: #fff;
  --black: #000;
  --gray: #939393;
  --card: linear-gradient(
    280deg,
    #000 -149.39%,
    #040303 -103.3%,
    #120d0f -53.37%,
    #130e10 -51.45%,
    #211d1f -28.4%,
    #484647 15.77%,
    #626161 42.66%
  );
}
/* ==============================
   General Styling
================================= */
.text-center {
  text-align: center !important;
}

/* ==============================
   Typography Styling
================================= */
h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
}
h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
}
h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}
h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

/* ==============================
   Flex And Grid Styling
================================= */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* ==============================
   Columns Styling
================================= */
.col {
  flex-basis: 100%;
  min-width: 200px;
}
.col-2 {
  flex-basis: 48%;
  min-width: 200px;
}
.col-3 {
  flex-basis: 31%;
  min-width: 200px;
}

.col-4 {
  flex-basis: 23%;
  min-width: 200px;
}

/* ==============================
  All Button Styling
================================= */
.primary-btn {
  background: var(--primary);
  color: var(--black);
  padding: 10px;
  display: inline-block;
  margin: 25px 0px;
  font-weight: 800;
}

/* =================================================================================================
   Responsive Design in 992px
================================================================================================== */
/*1200px and 992px , 768 , 576px Responsive Size Value */

@media only screen and (max-width: 992px) {
  body {
    font-size: 14px;
  }
  .row {
    flex-wrap: wrap;
  }
  /* ==============================
   Section & Container Styling
================================= */
  section {
    padding: 30px 10px;
  }
  /* ==============================
   Typography Styling
================================= */
  h1 {
    font-size: 20px;
    line-height: 1.2;
  }
  h2 {
    font-size: 26px;
    line-height: 1.2;
  }
  h3 {
    font-size: 18px;
    line-height: 1.2;
  }
  h4 {
    font-size: 16px;
    line-height: 1.2;
  }
  h5 {
    font-size: 14px;
    line-height: 1.2;
  }
  h6 {
    font-size: 13px;
    line-height: 1.4;
  }
  p {
    font-size: 14px;
    line-height: 1.4;
  }
}

/* =================================================================================================
   Responsive Design in 768px
================================================================================================== */

@media only screen and (max-width: 768px) {
  body {
    font-size: 13px;
  }
  /* ==============================
   Section & Container Styling
================================= */
  section {
    padding: 30px 10px;
  }
  /* ==============================
   Typography Styling
================================= */
  h1 {
    font-size: 16px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 13px;
  }
  p {
    font-size: 13px;
  }
  /* ==============================
   Columns Styling
================================= */
  .col {
    flex-basis: 100%;
  }
  .col-2 {
    flex-basis: 100%;
  }
  .col-3 {
    flex-basis: 31%;
    min-width: 200px;
  }

  .col-4 {
    flex-basis: 23%;
    min-width: 200px;
  }
  /* ==============================
  All Button Styling
================================= */
  .primary-btn {
    padding: 5px 10px;
    text-align: center;
    margin: 25px 0px;
    margin-bottom: 0px;
    width: 100%;
    font-size: 12px;
  }
}

/* =================================================================================================
   Responsive Design in 576px
================================================================================================== */

@media only screen and (max-width: 576px) {
  /* ==============================
   Section & Container Styling
================================= */
  section {
    padding: 30px 10px;
  }
  /* ==============================
   Typography Styling
================================= */
  h1 {
    font-size: 20px;
    line-height: 1.2;
  }
  h2 {
    font-size: 24px;
    line-height: 1.2;
  }
  h3 {
    font-size: 18px;
    line-height: 1.2;
  }
  h4 {
    font-size: 16px;
    line-height: 1.2;
  }
  h5 {
    font-size: 14px;
    line-height: 1.2;
  }
  h6 {
    font-size: 13px;
    line-height: 1.2;
  }
  p {
    font-size: 13px;
    line-height: 1.2;
  }
}
